<% layout("/layouts/boilerplate") -%>
<body>
    <h3>Listing details</h3>

    <ul>
            <li>Title: <%=listings.title%></li>
            <li>Description: <%=listings.description%></li>
            <li>Price: &#x20b9 <%=listings.price.toLocaleString("en-IN")%></li>
            <li>Location: <%=listings.location%></li>
            <li>Country: <%=listings.country%></li>
    </ul>
    <br>
    <form method="get" action="/listing/<%= listings._id%>/edit">
        <button>Edit</button>
    </form>
    <br>
    <form method="POST" action="/listing/<%= listings._id%>/delete?_method=DELETE" onsubmit="return confirm('Are you sure you want to delete this listing?');">
        <button>Delete</button>
    </form>
</body>
